.list {
  padding: 0;
  margin: 25px auto;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  font-weight: 500;
  padding: 10px;
  margin: 0 auto;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

